<md-progress-bar mode="indeterminate" 
color="primary"
style="height: 3px"></md-progress-bar>
<h1>
  Hello angualr 2 with material design
</h1>
<md-spinner color="accent" style="height: 50px"></md-spinner>

<md-slide-toggle [checked]="checked" (change)="checked= !checked"></md-slide-toggle> Switch me on!!!

<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      The <em>best</em> pasta
    </ng-template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      The worst sushi
    </ng-template>
    <md-select placeholder="State">
      <md-option *ngFor="let state of states" [value]="state">{{ state }}</md-option>
    </md-select>
    <p>...</p>
  </md-tab>

</md-tab-group>
<button md-button (click)="openSnackBar()">Hello button</button>

<md-chip-list>
  <md-chip>Papadum</md-chip>
  <md-chip>Naan</md-chip>
  <md-chip>Dal</md-chip>
</md-chip-list>